html {
  box-sizing: border-box;
  font-family: 'Titillium' , sans-serif;
  font-size: 16px;
  color: black; 
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  
  padding: 0;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url('../images/dark_fish_skin.png');
  font-family: 'Titillium' , sans-serif;
);

}

a {
  text-decoration: none;
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  width:100%;
  z-index: 9999;
  border-bottom: 1px solid black;
  margin-top: 0;
}

.top-navigation .links {
  font-family: 
  color: #838994;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(234, 234, 234);
  height: 60px;

}

.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
  padding-top: 20px;

}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}

.introduction {
  width: 100%;
  margin: 0 auto;
  background-image: url('../images/grass.jpeg');
  background-position: center bottom;
  background-repeat: repeat-y, repeat-x;
  background-size: cover; 
  height: 30rem;
  overflow: auto;
 
 }

.introduction .content {
  padding-top: 100px;
}




.introduction h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3.125rem;
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 6px #000;
  color: rgb(234, 234, 234);
}

.introduction h3 {
  /* Layout Declarations */
  text-align: center;
  /* Typography Declarations */
  text-shadow: 0 0 6px #000;
  font-size: 30px;
  color: rgb(234, 234, 234);
}

.big-button {
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 16px 26px;
  line-height: 1.33;
  width: 12rem;
  background-color: #f15a29;
  font-size: 1.125rem;
  color: white;
  display: block;
  margin:0 auto;
  margin-top: 
  margin-bottom:;
}

.big-button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.middle {
  padding-top: 3rem;
  
}
.middle h3 {
  margin-top: 0;
  padding-bottom: 3rem;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: white;


}

.middle hr {
  width: 85%;
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
}

.middle hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}


.middle h1 {
  text-align: center;
  font-family: inherit;
  font-weight: 300;
  color: white;
  margin-bottom: 100px;
}

.projects {
  overflow: hidden;
  font-family: 'Titillium' , sans-serif;
}

.projects .content {
  text-align: center;
  background-color: 

}


.projects .content > h1 {
  text-align: center;
  display: inline;
  position: relative;
  font: 70px 'Titillium', Sans-Serif;
  letter-spacing: -5px;
  color: black;

}

.projects .content > h1:after {
  content: "PROJECTS";
  position: absolute; left: 10px; top: 5px;
  color: white;
}


.projects .examples > li {
  display: inline-block;
  width: 50%;
  float: left;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}

.projects > img {
  border: 30px solid #021a40;
}

/* FOOTER ======================================================================= */
.social {
  background-color: rgb(81, 81, 81);
  text-align: center;
  height: 300px;
  padding-top: 100px;
  padding-left: 0px;


}

.icons {
  padding: 0;
  margin: 0;
}

.social .social-icons > li {
  display: inline-block;
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  margin: 1.25rem 5px;
  border: 1px solid #eaebec;
  padding: 0.625rem 0;
  text-align: center;


}

}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
































